@{
    ViewData["Title"] = "Kezdőlap";
}

<h2>BT's Store</h2>
<div class="row">
    <div class="col-lg-12 bg-white box-shadow">
        <div class="col-lg-12">
            <h3>Termékek (alkatrészek) és készlet kezelése.</h3>
            <hr />
            <h3>Használati útmutató:</h3>
            <ul>
                <li>Kezdőlap: Aktuális oldal.</li>
                <li>Készlet kezelése menüpont: Készlet módosítása (termék ki- és bevétel).</li>
                <li>Termékek kezelése: Új alkatrész hozzáadása a rendszerhez, alkatrész adatainak módosítása, alkatrész törlése.</li>
                <li>Statisztikák: Főbb statisztikák (Raktár összértéke (HUF és EUR), Raktár össztömege (kg), Legtöbb tételű termék, Legnagyobb tömegű termék).</li>
            </ul>
            <h3>Használt keretrendszerek/eszközök:</h3>
            <ul>
                <li>ASP.NET Core 2</li>
                <li>Bootstrap 3</li>
                <li>MNB Árfolyam web szervíz</li>
            </ul>
            <h4 class="float-right">
                Készítette: Bodorkós Tibor
                <br />
                E-mail: bodorkos.tibor@gmail.com
            </h4>
        </div>
    </div>
</div>
